<h2>Entrada de productos</h2>
<br>
<form action="/products" method="post">
    <input type="text" name="nombre" placeholder="ingrese nombre">
    <input type="number" name="precio" placeholder="ingrese precio">
    <button>Enviar</button>
</form>